<div class="flex flex-col items-center justify-center gap-2">
  <p class="md:text-5xl text-3xl ff-gara font-semibold">Who is Marc?</p>
  <p class="md:text-2xl text-xl ff-mont">by</p>
  <mat-select
    class="text-sm ff-mont"
    panelClass="custom-dropdown-panel"
    [(value)]="selectedOption"
    (valueChange)="optionChanged($event)"
    style="width: auto"
  >
    <mat-option *ngFor="let option of descriptionOptions" [value]="option.value">{{ option.viewValue }}</mat-option>
  </mat-select>

  <div class="flex md:flex-row flex-col gap-5 mt-4 items-start justify-center bread-text text-xs">
    <p class="m-0 flex-1">
      {{ selectedDescription }}
    </p>
    <div class="flex-1 flex w-full justify-center relative">
      <img src="assets/images/me.jpg" alt="" class="rounded-xl main-image img-fluid object-fill max-h-[400px]" />
      <img src="assets/images/avatar.png" alt="" class="avatar spin-slow rounded-full img-fluid" />
    </div>
  </div>
</div>
