<div class="flex flex-col items-center justify-center">
  <p class="md:text-5xl text-3xl ff-gara font-semibold">Who is Marc?</p>
  <p class="md:text-2xl text-xl ff-mont">by</p>

  <select
    class="select select-ghost max-w-xs text-sm ff-mont text-center"
    [(ngModel)]="selectedOption"
    (ngModelChange)="updateDescription($event)"
  >
    <option *ngFor="let option of descriptionOptions" [value]="option.value">
      {{ option.viewValue }}
    </option>
  </select>

  <div class="flex md:flex-row flex-col gap-5 mt-4 md:items-start items-center justify-center bread-text text-xs">
    <p class="m-0 flex-1">
      {{ selectedDescription }}
    </p>
    <div class="flex-1 flex justify-center relative">
      <img src="assets/images/me.jpg" alt="" class="rounded-xl main-image img-fluid object-fill max-h-[400px]" />
      <img src="assets/images/avatar.png" alt="" class="avatar spin-slow rounded-full img-fluid" />
    </div>
  </div>
</div>
