<app-wavy-header title="Tech I've touched" [bgColor]="'bg-light'"></app-wavy-header>

<ng-container *ngTemplateOutlet="techStackInfo"></ng-container>

<div class="grid grid-cols-4 sm:grid-cols-8 md:grid-cols-10 p-4 gap-2 w-fit mx-auto">
  <div *ngFor="let tech of techstack" class="tech-tile rounded-md">
    <div class="relative flex items-center justify-center p-1 tooltip tooltip-accent">
      <img class="tech-icon fixed-size" [src]="'assets/svgs/' + tech.icon" alt="{{ tech.icon }}" />
      <div class="tech-banner">
        <p class="">{{ tech.name }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #techStackInfo>
  <div class="flex flex-col w-full items-center mt-4">
    <button (click)="toogleTechStackInfo()" type="button" class="btn btn-circle btn-sm">
      <span class="material-icons-outlined text-neutral-400">lightbulb</span>
    </button>
    <p class="text-xs italic ff-mont" [@slideInOut]="hideTechStackInfo ? 'out' : 'in'">
      Obviously, I don't use all these tools on a daily basis.
    </p>
  </div>
</ng-template>
