.tech-tile {
  border-color: var(--primary-color);
  border: 1px solid;
  box-shadow: 2px 2px var(--primary-color);
  transition: box-shadow 0.3s ease;
}

.tech-tile:hover {
  box-shadow: 4px 4px var(--primary-color);
}

.fixed-size {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.tech-banner {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0500248f;
  backdrop-filter: blur(5px);
  color: var(--on-primary-color);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tech-tile:hover .tech-banner {
  opacity: 1;
}
