<div class="flex flex-row justify-between items-center mb-2">
  <div class="border-solid border-2 border-secondary rounded-full p-1 w-fit join">
    @for (type of projectTypesFilter; track $index) {
    <div
      [class.btn-accent]="selectedProjectType === type.type"
      class="join-item btn btn-primary btn-sm rounded-full text-sm"
      (click)="onFilterByProjectTypeSelected(type.type)"
    >
      <span *ngIf="type.icon" class="material-icons-outlined text-sm">{{ type.icon }}</span>
      {{ type.label }}
    </div>
    }
  </div>

  <a (click)="toggleFilterList()" class="btn btn-accent border-2 border-solid border-secondary btn-circle btn-md">
    <span class="material-icons-outlined text-md"> filter_list </span></a
  >
</div>

<!-- TODO: setup filter buttons -->
<div class="font-bold text-xs" [@slideInOut]="isFilterListOpen ? 'out' : 'in'">
  <a
    *ngFor="let tech of technologies"
    (click)="onTechnologySelected(tech)"
    [class.bg-secondary]="selectedTechnologies.includes(tech)"
    class="btn btn-xs border-2 border-solid border-neutral bg-primary text-neutral m-1"
  >
    {{ tech }}
  </a>
</div>
