<div class="filters">
  <fieldset>
    <legend>Project type</legend>
    <div class="filter-row">
      @for (type of projectTypes; track type.value) {
      <button
        type="button"
        [attr.aria-pressed]="projectType === type.value"
        (click)="projectTypeChange.emit(type.value)"
      >
        {{ type.label }}
      </button>
      }
    </div>
  </fieldset>
  <fieldset>
    <legend>Technology <span>match every selected technology</span></legend>
    <div class="filter-row filter-row--technologies">
      @for (technology of technologies; track technology.id) {
      <button
        type="button"
        [attr.aria-pressed]="isSelected(technology.id)"
        (click)="technologyToggle.emit(technology.id)"
      >
        {{ technology.label }}
      </button>
      }
    </div>
  </fieldset>
  @if (projectType !== 'ALL' || selectedTechnologies.length) {
  <button type="button" class="clear-button" (click)="clearFilters.emit()">Clear all filters</button>
  }
</div>
