.stacked-container {
  position: relative;
  overflow: hidden;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.text-content {
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  background-color: var(--primary-color);
}

.text-content h2 {
  font-family: "EB Garamond";
  color: var(--secondary-color);
  font-weight: 500;
}

.work-list {
  max-width: 700px;
  width: 100%;
}

.period {
  font-family: "Montserrat";
  color: var(--secondary-color);
  font-weight: 500;
  position: absolute;
  left: 5px;
}

.workplace {
  font-family: "Berkshire Swash";
  color: var(--secondary-color);
  font-weight: 500;
  position: absolute;
  left: 5px;
}
