<div class="page-shell page-shell-primary">
  <div class="content-column content-column-lg gap-4">
    <div class="btn btn-outline btn-secondary btn-sm w-fit text-sm" routerLink="/projects">
      <span class="material-icons-outlined text-sm"> west </span>Back to Projects
    </div>
    <div
      class="card card-compact bg-primary w-full shadow-xl text-neutral border-solid border border-slate-400 ff-mont clip rounded-2xl"
    >
      @if (vm$ | async; as vm) {
      @if (vm.project; as project) {
      <figure class="max-h-[400px]">
        <img [src]="project.thumbnail" [alt]="project.name" class="rounded-none" />
      </figure>
      <div class="p-10">
        <div class="flex flex-row gap-10">
          <div class="flex flex-col">
            @if (project.logo) {
            <div class="cube overflow-clip object-fill">
              <img [src]="project.logo" [alt]="project.name + ' logo'" />
            </div>
            }
            @if (project.liveUrl) {
            <a [href]="project.liveUrl" target="_blank" rel="noopener noreferrer">
              <div class="cube btn btn-outline btn-secondary text-sm mt-2">
                <span class="material-icons-outlined text-2xl"> open_in_new </span>
              </div>
            </a>
            }
            <hr class="my-5 line" />
            @for (tech of project.technologies; track tech) {
            <div class="cube tech-logo bg-neutral mb-2 p-2">
              <img class="rounded-none" [src]="'assets/svgs/' + (tech | lowercase) + '_logo.svg'" [alt]="tech" />
            </div>
            }
          </div>
          <div>
            <h2 class="card-title text-4xl font-bold">{{ project.name }}</h2>
            <h3 class="text-md italic">{{ project.description }}</h3>
            <h3 class="text-md mb-2">{{ project.year }}</h3>
            <div class="project-content" [innerHTML]="vm.content"></div>
            <hr class="mt-6" />
          </div>
        </div>
      </div>
      }
      }
    </div>
  </div>
</div>
